// Advantage-section block

.advantage-section {
    padding: 94px 0 47px 0; 
}
.advantage-section__container {
  @extend .container; 
}
.advantages {
  padding: 0;
  display: flex;
  justify-content: space-between;

  @extend .list;
}
.adwantages__item {
  max-width: 270px;
}
.advantages__title {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin: 0 0 10px;
}
.advantages__text {
  color: var(--paragraph-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  margin-top: 0;
  max-width: 270px;
}