
// Clients-section

.clients-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 94px;
  margin: 0;

}
.clients-list__link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  @include border-radius (4px);
  fill: var(--icon-color);

  display: flex;
  justify-content: center;
  align-items: center;

  @include transition (fill);
  @include transition (border-color);

&:hover, &:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
 }
}