
// Follow-section

.follow {
  padding-left: 0;
  margin-left: auto;
}
.follow__form {
  display: flex;

  & .primary-button {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 12px;
  }
}
.follow__input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding: 15px 0 15px 16px;
  background-color: transparent;

  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  transition: border-color 250ms var(--timing-function);

  &:hover, &:focus {
    border-color: var(--accent-color);
  }
}
.follow__text {
  padding-left: 29px;
  padding-right: 10px;
}
.follow__icon {
  padding: 0;
}