// Hero-section block

.main-section {
  background-color: var(--footor-background-color);
  color: var(--body-background-color);
  margin-top: 0;
  padding: 200px 0;
  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin: 0 auto 30px auto;
  width: 696px;
}