// Logo

.logo {
  color: var(--accent-color);
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  transition: color 250ms var(--timing-function);

  &:hover, &:focus {
   color: var(--accent-color);   
  }
  @extend .link;

  & .logo--black {
  color: var(--logo-black-color);
  display: inline-block;
  }

  & .logo--white {
  color: var(--body-background-color);
  display: inline-block;
  margin-bottom: 20px;
 }
}
