*,
*::before,
*::after {
  box-sizing: border-box;
}
.body {
  background-color: var(--body-background-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', 'Arial', sans-serif;  
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto; 
}
.list {
 list-style: none;
  margin: 0;
}
.link {
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
}
.current-link {
  color: var(--accent-color);
  padding: 32px 0;  
  position: relative;
}
.primary-button {
  background-color: var(--accent-color);
  color: var(--body-background-color);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  box-shadow: var(--primary-button-shadow);
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  width: 200px;
  height: 50px;
  text-align: center;
  margin-top: 0;
  cursor: pointer;
}
.secondary-title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 50px;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}