
@mixin transition ($transition-property) {
    transition: $transition-property 250ms var(--timing-function);    
}
@mixin border ($size, $color) {
    border: $size solid $color;
}
@mixin border-radius ($radius) {
    border-radius: $radius; 
}



@mixin flex ($jc: false, $ai: false) {
    display: flex;
    @if ($jc) {
        justify-content: $js;
    }
     @if ($ai) {
        align-items: $ai;
    }
}