@import './variables';
@import '../base/normalize';


// header-block

.page-header {
    border-bottom: var(--header-border-color);
}
.page-header__container {
  display: flex;
  align-items: center;
  
  @extend .container;
}   

// logo-block

.logo {
  color: var(--accent-color);
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  transition: color 250ms var(--timing-function);

  &:hover, &:focus {
   color: var(--accent-color);   
  }
  @extend .link;
}

.logo__part {
  color: var(--logo-black-color);
  display: inline-block;
}

// navigation-block

.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  display: flex;
  margin-left: 93px;
  align-items: center;

  @extend .list;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__link {
  color: var(--primary-text-color);
  display: block;
  transition: color 250ms var(--timing-function);

  &:hover, &:focus {
  color: var(--accent-color);  
  }
 & .current-link {
  position: relative;
}

 & .current-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: -1px; 
 }
    @extend .link;
}

// header-info block
.header-info {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  padding: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.header-info__item {
  color: var(--paragraph-text-color);
  display: flex;
  align-items: center;

  &:hover, &:focus {
    color: var(--accent-color);  
  }
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.header-info__link {
  color: var(--paragraph-text-color);
  display: flex;
  align-items: center;
  transition: color 250ms var(--timing-function);

  &:hover, &:focus {
  color: var(--accent-color);  
  }
  @extend .link;
}
.header-info__icon {
  fill: currentColor;
  margin-right: 10px;
}

// Main-section block

.main-section {
  background-color: var(--footor-background-color);
  color: var(--body-background-color);
  margin-top: 0;
  padding: 200px 0;
  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin: 0 auto 30px auto;
  width: 696px;
}

// Advantage-section block

.advantage-section {
    padding: 94px 0 47px 0;

    @extend .container;
}
.advantages {
  padding: 0;
  display: flex;
  justify-content: space-between;

  @extend .list;
}
.adwantage__item {
  max-width: 270px;
}
.advantage__icon {
  background-color: var(--team-background-color);
  color: currentColor;
  width: 270px;
  height: 120px;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 0;
}
.advantage__svg {
  text-align: center;
  justify-content: center;
}
.advantage__title {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin: 0 0 10px;
}
.advantage__text {
  color: var(--paragraph-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  margin-top: 0;
  max-width: 270px;
}

// Product-section block

.product-section {
  padding: 47px 0 94px 0;

  @extend .container;
}
.product {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;

  @extend .list;
}
.product__item {
  position: relative;
}
.product__overlay {
  width: 370px;
  height: 70px;
  position: absolute;
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)
  );
  bottom: 0;
}
.product__overlay--text {
  text-transform: uppercase;
  color: var(--body-background-color);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 27px 82px;
  margin: 0;
}
// Team-section block

.team-section {
  background-color: var(--team-background-color);
  padding: 94px 0;
}
.team-section__container {
  @extend .container;
}
.team {
  display: flex;
  justify-content: space-between;
  padding-left: 0;

  @extend .list;
}
.team__card {
  text-align: center;
  box-shadow: var(--team-card-shadow);
  border-radius: 0px 0px 4px 4px;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-top: 30px;
  margin-bottom: 10px;
}
.team__specialty {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);

  margin-top: 0;
  margin-bottom: 16px;
}
//  social-icon block
.team__icon {
  list-style: none;
  padding: 0 32px;
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.team__icon--item {
  width: 44px;
  height: 44px;
  
  &:not(:last-child) {
  margin-right: 10px;
  }
}
.team__icon--link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  fill: var(--icon-color);
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);

  &:hover, &:focus {
  background-color: var(--accent-color);
  fill: var(--body-background-color);
  }
}

// Clients-section

.clients-section {
  padding-top: 94px;

}
.clients-logo__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 94px;

  @extend .container;
}
.clients-logo__link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: fill 250ms var(--timing-function),
  border-color 250ms var(--timing-function);

&:hover, &:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
}
// Footer-section

.footer {
  background-color: var(--footor-background-color);
  padding: 60px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;

  @extend .container;
}
.address-container {
  margin-right: 70px;
}
.logo__part--footer {
  color: var(--body-background-color);

  display: inline-block;
  margin-bottom: 20px;
}
.address__list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  padding: 0;
  width: 231px;

  @extend .list;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link--physical {
  color: var(--body-background-color);
  margin: 0 0 9px;
  transition: color 250ms var(--timing-function);

  &:hover, &:focus {
    color: var(--accent-color);
  }
  @extend .link;
}
.address__link--info {
  color: var(--footer-info-color);
  margin: 0 0 9px;
  transition: color 250ms var(--timing-function);

   &:hover, &:focus {
    color: var(--accent-color);
  }
  @extend .link;
}
// Join-section

.join-title {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--body-background-color);
}
.join-icon__list {
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 0;
}
.join-icon__item {
 
 &:not(:last-child) {
   margin-right: 10px;
 }
}
.join-icon__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  fill: var(--body-background-color);
  background-color: var(--icon-background-color);
  transition: background-color 250ms var(--timing-function);

  &:hover, &:focus {
  background-color: var(--accent-color);
  fill: var(--body-background-color);
 }
}
.follow {
  padding-left: 0;
  margin-left: auto;
}
.follow__form {
  display: flex;
}

.follow__input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding: 15px 0 15px 16px;
  background-color: transparent;

  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  transition: border-color 250ms var(--timing-function);

  &:hover, &:focus {
    border-color: var(--accent-color);
  }
}
.follow__text {
  padding-left: 29px;
  padding-right: 10px;
}
.follow__icon {
  padding: 0;
}
// Modal-window block

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function);

  & .is-hidden {
  opacity: 0;
  pointer-events: none;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  min-height: 581px;
  background: var(--body-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  opacity: 1;
  transition: transform 250ms var(--timing-function);

  & > .close-button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 8px; 
  }
}
.close-button {
  fill: var(--logo-black-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;

  background: var(--body-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.close-button__icon {
   fill: var(--logo-black-color);
  transition: fill 250ms var(--timing-function);

  &:hover, &:focus {
  fill: var(--accent-color);
  }
}
.modal__title {
  margin: 0;
  font-weight: 700;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
//  Modal-form block

.modal__form {
  width: 448px;
  height: 342px;
  flex-direction: column;
  position: relative;
}
.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.form-field__title {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--paragraph-text-color);
  padding-bottom: 4px;
}
.form-field__input {
  display: flex;
  padding: 0 20px 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 448px;
  outline: none;
  transition: border-color 250ms var(--timing-function);

  &:hover, &:focus {
    border-color: var(--accent-color);
  }
  &:hover ~ .form-field__icon,
  &:focus ~ .form-field__icon {
    fill: var(--accent-color);
  }
}
.form-field__icon {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 15px;
  fill: var(--primary-text-color);
  transition: fill 250ms var(--timing-function);
}
.form-field__comment {
  margin-bottom: 20px;
}
.form-field__commentarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  width: 100%;
  outline: none;
  color: rgba(117, 117, 117, 0.5);
  transition: border-color 250ms var(--timing-function);

  &:hover, &:focus {
     border-color: var(--accent-color);
  }
}
.form-field__check {
  margin-bottom: 20px;
}
.form-field__policy {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-field__checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;

  &:checked + .form-field__checkbox--icon {
  background: var(--accent-color);
  border-radius: 2px;
  border: none;
  transition: background-color 250ms var(--timing-function);
  }
}
.form-field__checkbox--icon {
  width: 16px;
  height: 15px;
  fill: var(--body-background-color);

  border-radius: 2px;
  border: 2px solid var(--logo-black-color);

  align-items: center;
  justify-content: center;
  display: flex;
}
.form-field__checkbox--text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  padding-left: 7px;

  color: var(--paragraph-text-color);
}
.form-field__checkbox--link {
  color: var(--accent-color);
}
.form-field__button {
  display: flex;
  justify-content: center;
}

