@import './variables';
@import '../base/normalize';


// header-block

.page-header {
    border-bottom: var(--header-border-color);
}
.page-header__container {
  display: flex;
  align-items: center;
  
  @extend .container;
}   

// logo-block

.logo {
  color: var(--accent-color);
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  transition: color 250ms var(--timing-function);

  &:hover, &:focus {
   color: var(--accent-color);   
  }
  @extend .link;
}

.logo__part {
  color: var(--logo-black-color);
  display: inline-block;
}

// navigation-block

.navigation-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  display: flex;
  margin-left: 93px;

  @extend .list;
}
.navigation-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-item__link {
  color: var(--primary-text-color);
  display: block;
  transition: color 250ms var(--timing-function);

  &:hover, &:focus {
  color: var(--accent-color);  
  }
 &::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: -1px; 
 }
    @extend .link;
}

// header-info block
.header-info {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  padding: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.info-item {
  color: var(--paragraph-text-color);
  display: flex;
  align-items: center;

  &:hover, &:focus {
    color: var(--accent-color);  
  }
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.info-link {
  color: var(--paragraph-text-color);
  display: flex;
  align-items: center;
  transition: color 250ms var(--timing-function);

  &:hover, &:focus {
  color: var(--accent-color);  
  }
  @extend .link;
}
.info-icon {
  fill: currentColor;
  margin-right: 10px;
}

// First-section block

.main-section {
  background-color: var(--footor-background-color);
  color: var(--body-background-color);
  margin-top: 0;
  padding: 200px 0;
  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin: 0 auto 30px auto;
  width: 696px;
}

// Secondary-section block

.secondary-section__container {
    padding: 94px 0 47px 0;
    display: flex;
    justify-content: space-between;

    @extend .container;
}
.advantages {
  padding: 0;
}
.adwantage-item {
  max-width: 270px;
}
.advantage-item__icon {
  background-color: var(--team-background-color);
  color: currentColor;
  width: 270px;
  height: 120px;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 0;
}
.advantage-icon {
  text-align: center;
  justify-content: center;
}
.advantage-title {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin: 0 0 10px;
}
.advantage-text {
  color: var(--paragraph-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  margin-top: 0;
  max-width: 270px;
}
